body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container {
    border: 1px solid rgb(168, 165, 165);
    background-color: #0d1924;
    width: 35%;
    height: 36vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;  
    z-index: 0;
    overflow-y:auto;
}
.navbar {
    width: 95%;
    align-self:center;
    text-align:end;
    color: #7a828c;
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
}
.fa-bars {
    cursor: pointer;
}
.fa-bars:hover {
    color: white;
}
.fa-sun-o {
    margin-left: 0.8em;
    cursor: pointer;
}
.fa-sun-o:hover {
    color: white;
}

/*! css for main page */

.amount {
    width: 79%;
    height: auto;
    margin-bottom: 2vw;  
}
label {
    font-size: 1vw;
    font-family: "robotoregular", Arial, Helvetica, sans-serif;
    color: #7a828c;

}
#quantity {
   
    width: 90%;
    font-size: 2.5vw;
    border: none;
    outline: none;
    color: #7394ff;
    background-color: #0d1924;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {  
  -webkit-appearance: none;   
  margin: 0; 
}
.input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.fa-exchange {
    font-size: 2vw;
    display: inline;
    cursor: pointer;
    color: #7394ff;
}
.currency {
    width: 100%;
    display: flex;
    flex-direction: column;

}
.turning-into-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5vw;
}
.turning-into-img {
    width: 9%;
    height: 3.2vw; 
}
#turning-into {
    border: 1px solid #253d52;
    border-radius: 5px;
    background-color: #253d52;
    color: white;
    width: 79%;
    height: 3.5em;
    font-size: 1.5vw;
    font-family: "robotoregular", Arial, Helvetica, sans-serif;
    margin-left: 0.5vw;
    outline: none;
    align-self: center;
    padding-left: 5vw;
    cursor: pointer;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 15em;
    z-index: 1;
    position: relative;
    margin-left: 5vw;
    margin-top: 0.8vw;
}
.converted-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5vw;
}
.converted-img {
    width: 9%;
    height: 3.2vw;
}
#converted {
    border: 1px solid #253d52;
    background-color: #253d52;
    border-radius: 5px;
    color: white;
    width: 79%;
    height: 3.5em;
    font-size: 1.5vw;
    font-family: "robotoregular", Arial, Helvetica, sans-serif;
    margin-left: 0.5vw;
    outline: none;
    z-index: 0;
    align-self: center;
    padding-left: 5vw;
    cursor: pointer;
}
hr {
    border:1px solid #7394ff;
}
.transform {
    width: 79%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
#convert-btn {
    border: 1px solid #2252ff;
    border-radius: 5px;
    outline: none;
    background-color: #2252ff;
    color: white;
    height: 3.8vw;
    font-size: 2vw;
    cursor: pointer;
}
.text { 
    font-family: "robotoregular", Arial, Helvetica, sans-serif;
    font-size: 1vw;
    color: #7a828c;
    width: 79%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.result {
    /* border: 1px solid red; */
    width: 80%;
    height: auto;
    color: #7a828c;
    font-size: 2vw;
    text-align: center;
}

p {
    /* border: 1px solid green; */
    margin: 0vw;
    margin-top: 2vw;
}

/*! css for return page */
.material-icons {
    font-size: 1.8vw;
    cursor: pointer;
    margin-right: 15.2em; 
}
.material-icons:hover {
    color: white;
}


input[type=text] {
    width: 100%;
    background-color: #0d1924;
    height: 4.5vw;
    font-size: 1.5vw;
    padding-left: 1.6vw;
    border: none;
    outline: none;
    color: white;

}

.box {
    border: 1px solid #7a828c;
    width: 90%;
    height: 4.8vw;
    display: flex;
    flex-direction: row;
}

.box:hover {
    background-color: #253d52;
}

.fa-search {
    color: #7a828c;
    font-size: 2.2vw;
    margin-top: 1.2vw;
    margin-left: 2vw;
}


.img {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.currency-img {
    margin: 1em;
    width: 60%;
    height: 100%;
    border-radius: 15em;
}

.currency-text {
    /* border: 1px solid green; */
    width: 90%;
    color: white;
    font-size: 1.8vw;
    padding-top: 1.5vw;
    
}

input[type=checkbox] {
    width: 3vw;
}




























/*! added tooltip */
.tooltip {
    position: relative;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 1vw;
    font-family: "robotoregular", Arial, Helvetica, sans-serif;
    width: 9vw;
    height: auto;
    background-color: #2252ff;
    color: #fff;
    text-align: center;
    border-radius: 0.5vw;
    padding: 0.8vw 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -5.2vw;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* !scroll bar */

/* width */
::-webkit-scrollbar {
    width: 0.5vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 1vw;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }