body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container {
    border: 1px solid rgb(168, 165, 165);
    background-color: #0d1924;
    width: 35%;
    height: 36vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;  
    z-index: 0;
    overflow-y:auto;
}
.navbar {
    width: 95%;
    align-self:center;
    text-align:end;
    color: #7a828c;
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
}
.fa-bars {
    cursor: pointer;
}
.fa-bars:hover {
    color: white;
}
.fa-sun-o {
    margin-left: 0.8em;
    cursor: pointer;
}
.fa-sun-o:hover {
    color: white;
}

/*! css for main page */

.amount {
    width: 79%;
    height: auto;
    margin-bottom: 2vw;  
}
label {
    font-size: 1vw;
    font-family: "robotoregular", Arial, Helvetica, sans-serif;
    color: #7a828c;

}
#quantity {
   
    width: 90%;
    font-size: 2.5vw;
    border: none;
    outline: none;
    color: #7394ff;
    background-color: #0d1924;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {  
  -webkit-appearance: none;   
  margin: 0; 
}
.input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.fa-exchange {
    font-size: 2vw;
    display: inline;
    cursor: pointer;
    color: #7394ff;
}
.currency {
    width: 100%;
    display: flex;
    flex-direction: column;

}
.turning-into-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5vw;
}
.turning-into-img {
    width: 9%;
    height: 3.2vw; 
}
#turning-into {
    border: 1px solid #253d52;
    border-radius: 5px;
    background-color: #253d52;
    color: white;
    width: 79%;
    height: 3.5em;
    font-size: 1.5vw;
    font-family: "robotoregular", Arial, Helvetica, sans-serif;
    margin-left: 0.5vw;
    outline: none;
    align-self: center;
    padding-left: 5vw;
    cursor: pointer;
}
.select-currency-img {
    width: 100%;
    height: 100%;
    border-radius: 15em;
    z-index: 1;
    position: relative;
    margin-left: 5vw;
    margin-top: 0.8vw;
}
.converted-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5vw;
}
.converted-img {
    width: 9%;
    height: 3.2vw;
}
#converted {
    border: 1px solid #253d52;
    background-color: #253d52;
    border-radius: 5px;
    color: white;
    width: 79%;
    height: 3.5em;
    font-size: 1.5vw;
    font-family: "robotoregular", Arial, Helvetica, sans-serif;
    margin-left: 0.5vw;
    outline: none;
    z-index: 0;
    align-self: center;
    padding-left: 5vw;
    cursor: pointer;
}
hr {
    border:1px solid #7394ff;
}
.transform {
    width: 79%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
#convert-btn {
    border: 1px solid #2252ff;
    border-radius: 5px;
    outline: none;
    background-color: #2252ff;
    color: white;
    height: 3.8vw;
    font-size: 2vw;
    cursor: pointer;
}
.text { 
    font-family: "robotoregular", Arial, Helvetica, sans-serif;
    font-size: 1vw;
    color: #7a828c;
    width: 79%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.result {
    /* border: 1px solid red; */
    width: 80%;
    height: auto;
    color: #7a828c;
    font-size: 2vw;
    text-align: center;
}
p {
    /* border: 1px solid green; */
    margin: 0vw;
    margin-top: 2vw;
}

/*! css for return page */
.fa-arrow-left {
    font-size: 1.8vw;
    cursor: pointer;
    margin-right: 15.2em; 
}
.fa-arrow-left:hover {
    color: white;
}
input[type=text] {
    width: 100%;
    background-color: #0d1924;
    height: 3.8vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    border: none;
    outline: none;
    color: white;
}
.search-box {
    border: 1px solid #7a828c;
    width: 95.5%;
    height: 4vw;
    display: flex;
    flex-direction: row;
    margin-bottom: -0.07vw;
    padding: 0.06vw;
}
.box {
    border: 1px solid #7a828c;
    width: 90%;
    height: 2.5vw;
    display: flex;
    flex-direction: row;
    padding: 1vw;
    align-items: center;
    margin-bottom: -0.07vw;
    cursor: pointer;
}
.box:hover {
    background-color: #253d52;
}
.currency-img {
    width: 2vw;
    height: 2vw;
    margin: 0ch;
    border-radius: 5vw;
 
}
.currency-text {
    width: 90%;
    color: white;
    font-size: 1.7vw;
    margin-left: 1.3vw;    
}
.material-icons {
    color: #7394ff;
    font-size: 2.3vw;
    margin-top: 1vw;
    margin-left: 1vw;
}
.selected {
    border: none;
    background-color: white;
    width: 2vw;
    height: 2vw;
    border-radius: 20vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    margin-top: 34vw;
    margin-left: 31vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.fa-check-circle {
    background-color: white;
    font-size: 48px;
    color: green;
    border: 0.5vw solid green;
    width: 2.2vw;
    height: 2.2vw;
    border-radius: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;  
}

/* ! for third page */

.exchange-box {
    background-color: #1a2a38;
    width: 90%;
    height: 10vw;
    display: flex;
    flex-direction: column;
    border-radius: 0.3vw;
    padding: 0.5vw;
}

.close-icon {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.fa-close {
    color: #7a828c;
}

.fa-close:hover {
    color: white;
    cursor: pointer;
}

#exchange-img {
    width: 3vw;
    height: 3vw;
    border-radius: 5vw;
    margin: 1vw;
}

.currency-symbol {
    color: #6687f2;
    font-size: 2vw;
    margin: 0ch;
}
.info {
    display: flex;
    flex-direction: row;
}
.info1 {
    /* border: 1px solid firebrick; */
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.info2 {
    border: 1px solid darkblue;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-left: 2.5vw;
}

#exchange-input {
    width: 90%;
    border: none;
    border-bottom: 1px solid #7a828c;
    background-color: #1a2a38;
    font-size: 2vw;
    margin-bottom: 1vw;
    outline: none;
    color: #6687f2;
}

#exchange-input::placeholder {
    color: #7a828c;
}




















/*! added tooltip */
.tooltip {
    position: relative;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 1vw;
    font-family: "robotoregular", Arial, Helvetica, sans-serif;
    width: 9vw;
    height: auto;
    background-color: #2252ff;
    color: #fff;
    text-align: center;
    border-radius: 0.5vw;
    padding: 0.8vw 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -5.2vw;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* !scroll bar */

/* width */
::-webkit-scrollbar {
    width: 0.5vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 1vw;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }